@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1645243326318') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-BasicIcons-all-:before {
  content: "\e857";
}

.icon-BasicIcons-all-1:before {
  content: "\e858";
}

.icon-BasicIcons-all-2:before {
  content: "\e859";
}

.icon-BasicIcons-all-3:before {
  content: "\e85a";
}

.icon-BasicIcons-all-4:before {
  content: "\e85b";
}

.icon-BasicIcons-all-5:before {
  content: "\e85c";
}

.icon-BasicIcons-all-6:before {
  content: "\e85d";
}

.icon-BasicIcons-all-7:before {
  content: "\e85e";
}

.icon-BasicIcons-all-8:before {
  content: "\e85f";
}

.icon-BasicIcons-all-9:before {
  content: "\e860";
}

.icon-BasicIcons-all-10:before {
  content: "\e861";
}

.icon-BasicIcons-all-11:before {
  content: "\e862";
}

.icon-BasicIcons-all-12:before {
  content: "\e863";
}

.icon-BasicIcons-all-13:before {
  content: "\e864";
}

.icon-BasicIcons-all-14:before {
  content: "\e865";
}

.icon-BasicIcons-all-15:before {
  content: "\e866";
}

.icon-BasicIcons-all-16:before {
  content: "\e867";
}

.icon-BasicIcons-all-17:before {
  content: "\e868";
}

.icon-BasicIcons-all-18:before {
  content: "\e869";
}

.icon-BasicIcons-all-19:before {
  content: "\e86a";
}

.icon-BasicIcons-all-20:before {
  content: "\e86b";
}

.icon-BasicIcons-all-21:before {
  content: "\e86c";
}

.icon-BasicIcons-all-22:before {
  content: "\e86d";
}

.icon-BasicIcons-all-23:before {
  content: "\e86e";
}

.icon-BasicIcons-all-24:before {
  content: "\e86f";
}

.icon-BasicIcons-all-25:before {
  content: "\e870";
}

.icon-BasicIcons-all-26:before {
  content: "\e871";
}

.icon-BasicIcons-all-27:before {
  content: "\e872";
}

.icon-BasicIcons-all-28:before {
  content: "\e873";
}

.icon-BasicIcons-all-29:before {
  content: "\e874";
}

.icon-BasicIcons-all-30:before {
  content: "\e875";
}

.icon-BasicIcons-all-31:before {
  content: "\e876";
}

.icon-BasicIcons-all-32:before {
  content: "\e877";
}

.icon-BasicIcons-all-33:before {
  content: "\e878";
}

.icon-BasicIcons-all-34:before {
  content: "\e879";
}

.icon-BasicIcons-all-35:before {
  content: "\e87a";
}

.icon-BasicIcons-all-36:before {
  content: "\e87b";
}

.icon-BasicIcons-all-37:before {
  content: "\e87c";
}

.icon-BasicIcons-all-38:before {
  content: "\e87d";
}

.icon-BasicIcons-all-39:before {
  content: "\e87e";
}

.icon-BasicIcons-all-40:before {
  content: "\e87f";
}

.icon-BasicIcons-all-41:before {
  content: "\e880";
}

.icon-BasicIcons-all-42:before {
  content: "\e881";
}

.icon-BasicIcons-all-43:before {
  content: "\e882";
}

.icon-BasicIcons-all-44:before {
  content: "\e883";
}

.icon-BasicIcons-all-45:before {
  content: "\e884";
}

.icon-BasicIcons-all-46:before {
  content: "\e885";
}

.icon-BasicIcons-all-47:before {
  content: "\e886";
}

.icon-BasicIcons-all-48:before {
  content: "\e887";
}

.icon-BasicIcons-all-49:before {
  content: "\e888";
}

.icon-BasicIcons-all-50:before {
  content: "\e889";
}

.icon-BasicIcons-all-51:before {
  content: "\e88a";
}

.icon-BasicIcons-all-52:before {
  content: "\e88b";
}

.icon-BasicIcons-all-53:before {
  content: "\e88c";
}

.icon-BasicIcons-all-54:before {
  content: "\e88d";
}

.icon-BasicIcons-all-55:before {
  content: "\e88e";
}

.icon-BasicIcons-all-56:before {
  content: "\e88f";
}

.icon-BasicIcons-all-57:before {
  content: "\e890";
}

.icon-BasicIcons-all-58:before {
  content: "\e891";
}

.icon-BasicIcons-all-59:before {
  content: "\e892";
}

.icon-BasicIcons-all-60:before {
  content: "\e893";
}

.icon-BasicIcons-all-61:before {
  content: "\e894";
}

.icon-BasicIcons-all-62:before {
  content: "\e895";
}

.icon-BasicIcons-all-63:before {
  content: "\e896";
}

.icon-BasicIcons-all-64:before {
  content: "\e897";
}

.icon-BasicIcons-all-65:before {
  content: "\e898";
}

.icon-BasicIcons-all-66:before {
  content: "\e899";
}

.icon-BasicIcons-all-67:before {
  content: "\e89a";
}

.icon-BasicIcons-all-68:before {
  content: "\e89b";
}

